singularity {
    /* Enables Singularity container execution by default */
    enabled = true
    cacheDir = "$PWD"
    /* Enable auto-mounting of host paths (requires user bind control feature enabled */
    autoMounts = true
}

env {
    /* These following tools are required to run AmrPlusPlus*/
    JAVA = '/usr/local/envs/AmrPlusPlus_env/bin//java'
    /*TRIMMOMATIC = '/usr/local/envs/AmrPlusPlus_env/share/trimmomatic/trimmomatic.jar'*/
    TRIMMOMATIC = trimmomatic
    PYTHON3 = "python3"
    BWA = "bwa"
    SAMTOOLS = "samtools"
    BEDTOOLS = 	"bedtools"
    RESISTOME = 	"resistome"
    RAREFACTION = 	"rarefaction"
    SNPFINDER = 	"snpfinder"
    FREEBAYES = "freebayes"
    /* These next tools are optional depending on which analyses you want to run */
    KRAKEN2 = "kraken2"
    RGI = "rgi"
    DIAMOND = "diamond"
}


process {
  process.executor='slurm'
  queueSize = 100
  /*maxForks = 10                 // The maximum number of forks a single process is allowed to spawn */
  withName:RunQC {
      conda='bioconda::trimmomatic'
      /*container = 'shub://meglab-metagenomics/amrplusplus_v2'*/
      process.qos='normal'
      clusterOptions='--account=PAS0471 --job-name=QC%j --time=23:59:00'
  }
  withName:QCStats {
      container = 'shub://meglab-metagenomics/amrplusplus_v2'
      process.qos='normal'
      clusterOptions='--account=PAS0471 --job-name=QCstats%j --time=05:00:00'
  }
  withName:BuildHostIndex {
      container = 'shub://meglab-metagenomics/amrplusplus_v2'
      process.qos='normal'
      clusterOptions='--account=PAS0471 --job-name=hostindex%j --ntasks-per-node=12 --time=23:59:00'
  }
  withName:BuildAMRIndex {
      container = 'shub://meglab-metagenomics/amrplusplus_v2'
      process.qos='normal'
      clusterOptions='--account=PAS0471 --job-name=AMRindex%j --ntasks-per-node=12 --time=23:59:00'
  }
  withName:AlignReadsToHost {
      container = 'shub://meglab-metagenomics/amrplusplus_v2'
      process.time = '20:00:00'
      process.qos='normal'
      clusterOptions='--account=PAS0471 --job-name=AlignHost%j --ntasks-per-node=12 --time=23:59:00'
  }
  withName:RemoveHostDNA  {
      container = 'shub://meglab-metagenomics/amrplusplus_v2'
      process.qos='normal'
      clusterOptions='--account=PAS0471 --job-name=RMHost%j --ntasks-per-node=12 --time=23:59:00'
  }
  withName:HostRemovalStats {
      container = 'shub://meglab-metagenomics/amrplusplus_v2'
      process.qos='normal'
      clusterOptions='--account=PAS0471 --job-name=hoststats%j --time=05:00:00'
  }
  withName:NonHostReads {
      container = 'shub://meglab-metagenomics/amrplusplus_v2'
      process.qos='normal'
      clusterOptions='--account=PAS0471 --job-name=BAMFastq%j --time=23:59:00'
  }
  withName:AlignToAMR {
      container = 'shub://meglab-metagenomics/amrplusplus_v2'
      process.qos='normal'
      clusterOptions='--account=PAS0471 --job-name=alignAMR%j --time=23:59:00'
  }
  withName:RunResistome {
      conda='hcc::resistomeanalyzer'
      process.qos='normal'
      clusterOptions='--account=PAS0471 --job-name=resistome%j --ntasks-per-node=12 --time=23:59:00'
  }
  withName:RunRarefaction {
      container = 'shub://meglab-metagenomics/amrplusplus_v2'
      process.qos='normal'
      clusterOptions='--account=PAS0471 --job-name=rarefaction%j --time=23:59:00 --ntasks-per-node=12'
  }
  withName:ResistomeResults {
      container = 'shub://meglab-metagenomics/amrplusplus_v2'
      process.qos='normal'
      clusterOptions='--account=PAS0471 --job-name=LtoWide%j --time=05:00:00'
  }
  withName:SNPconfirmation {
      container = 'shub://meglab-metagenomics/amrplusplus_v2'
      process.qos='normal'
      clusterOptions='--account=PAS0471 --job-name=SNPconfirmation%j --time=23:59:00'
      /* module='jdk/1.8.0:singularity/2.5.2'*/
  }
  withName:SamDedupRunResistome {
      conda='hcc::resistomeanalyzer'
      process.qos='normal'
      clusterOptions='--account=PAS0471 --job-name=SamDedupSNPresistome%j --time=23:59:00'
  }
  withName:SamDedupResistomeResults {
      container = 'shub://meglab-metagenomics/amrplusplus_v2'
      process.qos='normal'
      clusterOptions='--account=PAS0471 --job-name=SamDedup_LongToWide --time=5:00:00'
  }
  withName:ExtractSNP {
      conda='hcc::resistomeanalyzer'
      process.qos='normal'
      clusterOptions='--account=PAS0471 --job-name=ExtractSNP%j --time=23:59:00'
  }
  withName:RunRGI {
      conda='bioconda::rgi'
      clusterOptions='--account=PAS0471 --job-name=RunRGI%j --time=23:59:00'
      process.qos='normal'
  }
  withName:SNPconfirmation {
      container = 'shub://meglab-metagenomics/amrplusplus_v2'
      process.qos='normal'
      clusterOptions='--account=PAS0471 --job-name=SNPconfirmation --time=23:59:00'
  }
  withName:Confirmed_AMR_hits {
      container = 'shub://meglab-metagenomics/amrplusplus_v2'
      process.qos='normal'
      clusterOptions='--account=PAS0471 --job-name=Confirmed_AMR_hits --time=23:59:00'
  }
  withName:Confirmed_ResistomeResults {
      container = 'shub://meglab-metagenomics/amrplusplus_v2'
      process.qos='normal'
      clusterOptions='--account=PAS0471 --job-name=Confirmed_ResistomeResults --time=23:59:00'
  }
  withName:ExtractDedupSNP {
      conda='hcc::resistomeanalyzer'
      process.qos='normal'
      clusterOptions='--account=PAS0471 --job-name=ExtractDedupSNP --time=23:59:00'
  }
  withName:RunDedupRGI {
      conda='bioconda::rgi'
      process.qos='normal'
      clusterOptions='--account=PAS0471 --job-name=RunDedupRGI --time=23:59:00'
  }
  withName:DedupSNPconfirmation {
      container = 'shub://meglab-metagenomics/amrplusplus_v2'
      process.qos='normal'
      clusterOptions='--account=PAS0471 --job-name=DedupSNPconfirmation --time=23:59:00'
  }
  withName:ConfirmDedupAMRHits {
      container = 'shub://meglab-metagenomics/amrplusplus_v2'
      process.qos='normal'
      clusterOptions='--account=PAS0471 --job-name=ConfirmDedupAMRHits --time=23:59:00'
  }
  withName:DedupSNPConfirmed_ResistomeResults {
      container = 'shub://meglab-metagenomics/amrplusplus_v2'
      process.qos='normal'
      clusterOptions='--account=PAS0471 --job-name=DedupSNPConfirmed_ResistomeResults --time=23:59:00'
  }
  withName:RunKraken {
      container = 'shub://meglab-metagenomics/amrplusplus_v2'
      process.qos='normal'
      clusterOptions='--account=PAS0471 --job-name=RunKraken --mem=80G --time=23:59:00'
  }
  withName:KrakenResults {
      container = 'shub://meglab-metagenomics/amrplusplus_v2'
      process.qos='normal'
      clusterOptions='--account=PAS0471 --job-name=KrakenResults --time=23:59:00'
  }
  withName:FilteredKrakenResults {
      container = 'shub://meglab-metagenomics/amrplusplus_v2'
      process.qos='normal'
      clusterOptions='--account=PAS0471 --job-name=FilteredKrakenResults --time=23:59:00'
  }
  
}
